<div class="row content-top">
                $message
                <div class="span3" id="logo-image-div">
                    
                    <!--<img id="logo-image" src="/res/img/logo_image_small.png" alt="Radio logo" />-->
                </div>
                <div class="span10">
                    <div class="row info">
                        <div class="span10 row" id="introcontainer">
                            <div id="intro" class="span5">
                                <img src="/res/img/logotitle_2.png" alt="Radio" />
                            </div>
                            <div id="soundmanager-debug"></div>
                            <div id="streamconnect" class="span4">
                                
                                <div class="span4 browplay-jp">
                                    <button rel="twipsy" class="fill btn info jp-play" disabled="disabled" data-original-title="Play the stream directly in your browser. Uses HTML5 if possible, else a Flash fallback.">Play in browser</button>
                                    <div class="fill btn info active jp-pause" style="display: none; width: 90%; text-align: center; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);"><div class="progress jp-volume-bar success" style="height: 10px; margin: 0px;"><div class="bar jp-volume-bar-value" style="width:10%"></div></div>Stop</div>
                                </div>
                                <a href="#" id="expand-panel">More stream options</a>

                            </div>
                        </div>
                        <div id="streamconnect-panel" class="span10 row">
                            <div class="span4" id="panel-links">
                                <h4>Stream links</h4>
                                <a rel="twipsy" class="fill btn info" href="http://stream.r-a-d.io:1130/main.mp3.m3u" data-original-title="Downloadable playlist file that can be opened with most media players.">Playlist File (.m3u)</a><br>
                                <a class="fill btn info" href="http://r-a-d.io/listen.pls" data-original-title="Downloadable playlist file that can be opened with most media players, in case the m3u doesn't work.">Playlist File (.pls)</a><br>
                                <a rel="twipsy" class="fill btn info" href="http://stream.r-a-d.io:1130/main.mp3" data-original-title="Direct link to the stream. Don't open this in your browser; copy the link!">Direct Stream Link</a>
                            </div>
                            <div class="span4" id="panel-info">
                                <p>You can also listen to r/a/dio in most music players. All you have to do is copy one of the links to the left into your player and you're good to go!</p>
                            </div>
                            
                            
                        </div>
                        
                        
                        
                        <!--<div id="links" class="row">
                            <div class="span4" style="margin-left: 70px;">
                                <a rel="twipsy" class="fill btn info" href="http://stream.r-a-d.io:1130/main.mp3.m3u" data-original-title="Downloadable playlist file that can be opened with most media players.">Playlist File (.m3u)</a>
                            </div>
                            <div class="span4">
                                <a class="fill btn info" href="http://r-a-d.io/listen.pls" data-original-title="Downloadable playlist file that can be opened with most media players, in case the m3u doesn't work.">Playlist File (.pls)</a>
                            </div>
                            <div class="span4 browplay-jp">
                                <button rel="twipsy" class="fill btn info jp-play" disabled="disabled" data-original-title="Play the stream directly in your browser. Uses HTML5 if possible, else a Flash fallback.">Play in browser</button>
                                <div class="fill btn info active jp-pause" style="display: none; width: 90%; text-align: center; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);"><div class="progress jp-volume-bar success" style="height: 10px; margin: 0px;"><div class="bar jp-volume-bar-value"></div></div>Stop</div>
                            </div>
                            <div class="span4 browplay-vis">
                                <a rel="twipsy" id="edplay" class="fill btn info" href="#" data-original-title="Play the stream directly in your browser. ed version: now with 100% more eyecandy">(please wait)</a>
                            </div>
                        </div>-->
                        <div id="main-streamdata" class="row">
                            <div id="nowplaying" class="span10">
                                <div class="nowplaying">
                                    <h2>$nowplaying</h2>
                                </div>
                            </div>
                            <div id="progress" class="span10">
                                <div class="progress danger">
                                    <div class="bar" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div id="stream_info" class="span10">
                                <div class="span2 block-inline listeners">
                                    Listeners: <span class="value">$listeners</span>
                                </div>
                                <div class="span4 block-inline"><span id="current_pos"></span>/<span id="current_len"></span></div>
                                <div class="span2 block-inline bitrate">
                                    <!-- Bitrate: <span class="value">$bitrate</span>kbps -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <ul class="media-grid">
                        <li>
                            <span class="djmedia" rel="twipsy" data-original-title="$djtext">
                                <img class="thumbnail djimg" width="150" height="150" border="0" src="$djimg">
                                <span id="dj">$djname</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="last-played-container" class="span8">
                    <table class="zebra-striped" id="last-played">
                        <thead>
                            <tr>
                                <th colspan="2">Last Played</th>
                            </tr>
                        </thead>
                        <tbody>
                            $lastplayed
                        </tbody>
                    </table>
                </div>
                $twatter
                <div id="queue-container" class="span8">
                    <table class="zebra-striped" id="queue">
                        <thead>
                            <tr>
                                <th colspan="2">Queue</th>
                            </tr>
                        </thead>
                        <tbody>
                            $queue
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ed was here on a mission from kuma-kun -->
            <div class="row seperator">
                <div class="seperator span16">
                </div>
            </div>
            <div id="thread" style="position:relative;top:-.6em;text-align:center">
                $threadmsg
            </div>
            <!-- end of (ed)its -->

            <div class="row seperator">
                <div class="seperator span16">
                </div>
            </div>
            <div class="row news">
                $news
            </div>