{% extends base_template %}

{% block content %}
{% if queue %}
<div class="alert-message info" style="display: none;">
    <p>There is currently no queue available.</p>
</div>
<div class="row">
{% else %}
<div class="alert-message info">
    <p>There is currently no queue available.</p>
</div>
<div class="row" style="display: none;">
{% endif %}
    <div class="span16">
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th class="head">Track</th>
                </tr>
            </thead>
            <tbody>
                {% for item in queue %}
                    <tr><th>{{ item.time }}</th><td>{{ item.song.track.metadata }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}